html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #777;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #333;
    padding: 20px;
}

.display {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #000;
    color: #fff;
    text-align: right;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.5);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px 0;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #ffb84d;
}

.clear {
    background-color: #d4d4d2;
    color: #000;
}

.clear:hover {
    background-color: #f2f2f2;
}

.equals {
    background-color: #ff9500;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equals:hover {
    background-color: #ffb84d;
}

button {
    height: 60px;
    background-color: #505050;
    border-radius: 500px;
    border: none;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

button:hover {
    background-color: #b3b3b3;
}
